{% extends 'shared/_layout.html' %}

{% block title %}ثبت نام{% endblock %}

{% block content %}
<style>
    
    .containerr {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #f9f9f9;
    }

    .message {
        margin: 20px 0;
    }
</style>
                    <div class="containerr">
                        <h1 style="color: green;">فعال‌سازی حساب کاربری</h1>
                        <p class="message">با تشکر از ثبت نام شما در وب‌سایت ما!</p>
                        <p class="message">برای تکمیل فرایند ثبت نام و فعال‌سازی حساب کاربری خود، لطفاً ایمیل خود را بررسی کنید و بر روی
                            لینک فعال‌سازی که به آدرس ایمیل شما ارسال شده است کلیک کنید.</p>
                        <p class="message">اگر ایمیل را در صندوق ورودی خود نمی‌بینید، لطفاً پوشه هرزنامه (Spam) یا تبلیغات (Promotions) را
                            نیز بررسی کنید.</p>
                        <p class="message">با تشکر،<br>تیم پشتیبانی</p>
                    </div>
{% endblock %}