{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% load poll_extras %}

{% block title %}
جزییات خرید
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
        </div>
        <div class="col-md-8">
            <h3>وضعیت سفارش: {{ order.get_status_display }}</h3>
            {% if order.tracking_code %}
            <p>کد رهگیری: {{ order.tracking_code }}</p>
            {% endif %}
            <table class="table table-responsive table-hover table-striped">
                <thead>
                    <tr>
                        <th>شناسه</th>
                        <th>محصول</th>
                        <th>قیمت واحد</th>
                        <th>قیمت با تخفیف</th>
                        <th>تعداد</th>
                        <th>قیمت کل</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detail in order.orderdetail_set.all %}
                    <tr>
                        <td>{{ detail.id }}</td>
                        <td>{{ detail.product.title }}</td>
                        <td>{{ detail.product.price }}</td>
                        <td>
                            {% if detail.product.discounted_price %}
                            {{ detail.product.discounted_price }}
                            {% else %}
                            {{ detail.product.price }}
                            {% endif %}
                        </td>
                        <td>{{ detail.count }}</td>
                        <td>{{ detail.final_price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" style="text-align: center;"><span>جمع کل:</span></td>
                        <td>{{ order.calculate_total_price_without_discount }}</td>
                    </tr>
                    {% if order.discount_code %}
                    <tr>
                        <td colspan="5" style="text-align: center;"><span>مقدار تخفیف:</span></td>
                        <td>{{ order.discount_code.discount_percentage }}%</td>
                    </tr>
                    <tr>
                        <td colspan="5" style="text-align: center;"><span>قیمت کل پس از تخفیف:</span></td>
                        <td>{{ order.calculate_total_price }}</td>
                    </tr>
                    {% endif %}
                </tfoot>
            </table>
            {% if order.status == 'delivered' %}
            <button onclick="openPrintPage()" class="btn btn-primary">چاپ فاکتور</button>
            {% endif %}
        </div>
    </div>
</div>

<script>
    function openPrintPage() {
        // URL مربوط به صفحه فاکتور را تعریف کنید
        var printUrl = "{% url 'print_invoice' order.id %}"; // توجه: باید URL مربوط به صفحه فاکتور را به درستی تعریف کنید

        // باز کردن صفحه جدید برای فاکتور
        var printWindow = window.open(printUrl, '_blank');
        if (printWindow) {
            printWindow.focus();
        } else {
            alert('نمایش فاکتور با مشکل مواجه شد. لطفاً تنظیمات مرورگر خود را بررسی کنید.');
        }
    }
</script>



{% endblock %}