{% load thumbnail %}
{% load poll_extras %}

<div class="col-sm-3">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                {% if product.image %}
                {% thumbnail product.image "268x250" quality=90 crop='center' as im %}
                <img src="{{ im.url }}">
                {% endthumbnail %}
                {% else %}
                <img src="/static/images/shop/product.jpg" alt="">
                {% endif %}

                {% if product.discounted_price and product.discounted_price < product.price %} <h2>
                    <span class="original-price" style="text-decoration: line-through; font-size: 14px; color:grey">
                        {{ product.price|three_digits_currency }}</span>
                        <br>
                    <span class="discounted-price">{{ product.discounted_price|three_digits_currency }}</span>
                    </h2>
                    {% else %}
                    <h2>{{ product.price|three_digits_currency }}</h2>
                    {% endif %}

                    <p>{{ product.title }}</p>
                    <a href="{{ product.get_absolute_url }}" class="btn btn-default add-to-cart">
                        <i class="fa fa-shopping-cart"></i>
                        مشاهده جزییات
                    </a>
            </div>
        </div>
    </div>
</div>