{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% load poll_extras %}

{% block title %}
{{ product.title }}
{% endblock %}

{% block header_references %}
<link href="/static/lib/image-lightbox/css/lightbox.min.css" rel="stylesheet">
{% endblock %}

{% block footer_references %}
<script src="/static/lib/image-lightbox/js/lightbox.min.js"></script>
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 padding-right">
                <div class="product-details"><!--product-details-->
                    <div class="col-sm-5">
                        <div class="view-product">
                            {% if product.image %}
                            <img src="{{ product.image.url }}" alt="" id="main_image">
                            {% else %}
                            <img src="/static/images/product-details/1.jpg" alt="" id="main_image">
                            {% endif %}
                            <h3>
                                <a style="color:white" id="show_large_image_modal" href="{{ product.image.url }}"
                                    data-lightbox="product-image">
                                    بزرگنمایـی
                                </a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="product-information"><!--/product-information-->
                            <img src="/static/images/product-details/new.png" class="newarrival" alt="">
                            <div>
                                <h2>{{ product.title }}</h2>
                                <p>شناسـه : {{ product.id }}</p>
                            </div>
                            <div>
                                <span>
                                    {% if product.discounted_price and product.discounted_price < product.price %} <span
                                        style="text-decoration: line-through; font-size: 14px; COLOR : grey">
                                        قیمت اصلی: {{ product.price|three_digits_currency }}
                                </span>
                                <span>
                                    قیمت با تخفیف: {{ product.discounted_price|three_digits_currency }}
                                </span>
                                {% else %}
                                <span>قیمت: {{ product.price|three_digits_currency }}</span>
                                {% endif %}
                                </span>
                                <span>
                                    <label>تعداد :</label>
                                    <input type="number" min="1" value="1" class="search_box" id="product-count">
                                    {% if product.inventory > 0 %}
                                    <button onclick="addToCartOrWarn({{ product.id }}, {{ product.inventory }})"
                                        class="btn btn-fefault cart">
                                        <i class="fa fa-shopping-cart"></i>
                                        افزودن به سبد خرید
                                    </button>
                                    {% else %}
                                    <button class="btn btn-fefault cart" disabled>
                                        <i class="fa fa-shopping-cart"></i>
                                        ناموجود
                                    </button>
                                    {% endif %}
                                </span>
                                <script>
                                    function addToCartOrWarn(productId, inventory) {
                                        var countInput = document.getElementById('product-count');
                                        var count = parseInt(countInput.value);

                                        if (count > inventory) {
                                            alert('متاسفانه تعداد درخواستی شما بیشتر از موجودی محصول است.');
                                            return;
                                        }

                                        addProductToOrder(productId);
                                    }
                                </script>
                            </div>
                            <div>
                                {% if product.inventory > 0 %}
                                <p style="color: green;"><b>موجـودی :</b> در انبـار موجود می باشد</p>
                                {% else %}
                                <p style="color: red;"><b>موجـودی :</b> در انبـار موجود نمی باشد</p>
                                {% endif %}
                                {% if product.brand %}
                                <p><b>برنـد :</b> {{ product.brand.title }} </p>
                                {% endif %}
                            </div>
                        </div><!--/product-information-->
                    </div>
                </div><!--/product-details-->

                <div class="category-tab shop-details-tab"><!--category-tab-->
                {% if has_technical_specifications %}
                <div class="col-md-12">
                    <h4>مشخصات فنی</h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>کلید</th>
                                <th>مقدار</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for spec in technical_specifications %}
                            <tr>
                                <td>{{ spec.key.key }}</td>
                                <td>{{ spec.value }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#details" data-toggle="tab">جزئیات</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="details">
                            <div class="col-md-12">
                                {{ product.description | safe }}
                            </div>
                        </div>
                    </div>
                </div><!--/category-tab-->

                <div class="recommended_items"><!--recommended_items-->
                    <h2 class="title text-center">محصولات مرتبط</h2>
                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for group in related_products %}
                            <div class="item {% if forloop.first %}active{% endif %}">
                                {% for product in group %}
                                {% include 'includes/product_item_partial.html' with product=product col_size=4 %}
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </div>
                        {% if related_products|length > 1 %}
                        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                            <i class="fa fa-angle-right"></i>
                        </a>
                        {% endif %}
                    </div>
                </div><!--/recommended_items-->
            </div>
            <div class="col-sm-3">
                <div class="left-sidebar">
                    {% render_partial 'product_module.views.product_categories_component' %}
                    {% render_partial 'product_module.views.product_brands_component' %}
                    <div class="shipping text-center"><!--shipping-->
                        {% for banner in banners %}
                        <a href="{{ banner.url }}">
                            <img src="{{ banner.image.url }}" alt="">
                        </a>
                        {% endfor %}
                        <br>
                        <br>
                    </div><!--/shipping-->
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}